.filter-dialog {
    position: fixed; /* Position it over the page */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure it's on top */
    width: 300px;
  }
  
  .filter-dialog input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
  }
  
  .filter-dialog button {
    padding: 8px 12px;
    margin-top: 10px;

  }

  #apply-button {
    background-color: blue;
    color: white;
  }
  
  .filter-dialog button:hover {
    cursor: pointer;
    
  }

  #cancel-button:hover {
    background-color: blue;
    color: white;
  }

  .filter-dialog label {
    display: block; 
    margin-bottom: 8px; 
  }
  

  .filter-dialog-header {
    cursor: grab;
  }
  
  .filter-dialog-content {
    padding: 10px;
  }
  .filter-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
    padding: 0 10px;
    transition: color 0.3s ease;
  }
  
  .filter-icon:hover {
    color: #306426; 
  }